input{
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 6px;

}

.center{
  
    text-align: center;
}
button{
    font-size: 30px;
    background-color: tan;
    border-radius: 6px;
}


.imagebox{
    height: 300px;
    width:250px ;
    margin-top: 50px;
    margin: 50px;
}

.imagebox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#moviename {
    font-size: 32px;
    height: auto;
    width: 250px;
    margin: 50px;
}



.flexwrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#moviess p{
    font-size: 44px;
    text-align: center;

}